@import 'base';

html {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border:0;
    outline:0;
    width: 100%;
    height: 100%;
}

body {
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
//    background: #2F2556; 
//    color: #B9B5C7;
}

.main {
    width: 100%;
}

.content {
    background: #fff; color: #373737;
}

.content > div {
    display: none; 
}

input {
    display: none;
}

label {
    display: inline-block; 
    padding: 8px 10px 7px 10px; 
    margin-left: 0;
    margin-right: -5px;
    text-align: center;
}

label:hover {
    background-color: #DDD; 
    cursor: pointer;
}

input:checked + label {
    color: #fff;
}

#tab1:checked + label {
    background: $colour-news; 
}

#tab2:checked + label {
    background: $colour-travel; 
}

#tab3:checked + label {
    background: $colour-sport;
}
 
#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3{
 display: block;
}

.article-title {
    font-size: 1.5em;
    line-height: 1.5em;
    display: inline;
}

.article-summary {
    font-size: 1em;
    margin-top: 10px;
    
}

.count {
    color: #aaa;
    font-size: 2.5em;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    //margin-bottom: 20px;
}

caption {
    font-size: 1.5em;
    text-align: center;
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}