article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
img{border:0;-ms-interpolation-mode:bicubic;max-width:100%;}
svg:not(:root){overflow:hidden;}
.wrap{width:940px;margin:0 auto;}
.fluid-wrap{max-width:940px;margin:0 auto;padding:0 10px;}
.pull-left{float:left;}
.pull-right{float:right;}
.margin-top{margin-top:10px;}
.margin-bottom{margin-bottom:10px;}
.border-top{border-top:1px solid #BEBEBE;}
.border-bottom{border-bottom:1px solid #BEBEBE;}
.h{position:absolute !important;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);}
[hidden]{display:none;}
.cf:before,.cf:after{content:"";display:table;}
.cf:after{clear:both;}
.cf{zoom:1;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{color:#333;background-color:#FFF;font-size:12px;line-height:15px;font-family:arial,sans-serif;margin:0;}
p,pre,dd,dl,menu,ul,ol{margin:0 0 10px;}
.article-body p,.article-body li,.article-body dl{font-size:14px;line-height:20px;}
.article-body p{margin-bottom:15px;}
blockquote{border-left:10px solid #D3D3D3;margin:1em 40px 1em 30px;padding-left:10px;}
figcaption{color:#666;}
small{font-size:11px;line-height:14px;}
html,button,input,select,textarea{font-family:arial,sans-serif;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
figure{margin:0;}
.standfirst{font-size:16px;line-height:20px;color:#666;}
.caption{color:#666;}
.dotted-border{border-top:1px dotted #666;padding-top:2px;}
h1,h2,h3,h4,h5,h6{font-family:georgia, serif;margin:0;}
h1,.article-heading{font-size:24px;line-height:30px;font-weight:normal;}
h2,.sub-heading{font-size:18px;line-height:25px;font-weight:normal;}
h3,.related-heading{font-size:16px;line-height:20px;font-weight:bold;}
h4,.trailblock-heading{font-size:14px;line-height:20px;font-weight:bold;}
h5,.article-base-heading{font-size:14px;line-height:20px;font-weight:bold;font-family:arial,sans-serif;}
h6,.base-heading{font-size:12px;line-height:15px;font-weight:bold;font-family:arial,sans-serif;}
.hd{background-color:#ededed;padding:4px 5px 14px;margin-bottom:10px;clear:both;}
.hd .sub-heading{line-height:20px;}
h1 abbr,h2 abbr,h3 abbr,h4 abbr,h5 abbr,h6 abbr{border:none !important;}
a,a:link,a:visited{color:#005689;text-decoration:none;}
a:hover,a:focus{text-decoration:underline;}
a:active{color:white;background-color:#005689;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
form{margin:0;}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;-moz-appearance:button;*overflow:visible;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}
input[type="search"]{-webkit-appearance:textfield;-moz-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;-moz-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
fieldset{border:none;padding:0;margin:0;}
input[type="email"],input[type="password"],input[type="text"],input[type="url"],input[type="search"],textarea{border:1px solid #999;min-height:14px;padding:0.4em 5px 0.4em 5px;}
input[type="checkbox"]{margin-bottom:1em;}
select{padding:1px;}
input[type="submit"],button{padding:1px 0;}
table{width:100%;border-collapse:collapse;border-spacing:0;border-color:#333;}
tr{background-color:#F5F5F5;}
tbody tr:nth-child(even){background-color:#EDEDED;}
tbody:hover tr{background-color:#F5F5F5;}
tbody:hover tr:nth-child(even){background-color:#EDEDED;}
tbody:hover tr:hover,tr.highlighted-row{background-color:#FFF3A5;}
th{background-color:#D8D8D8;border-bottom:1px solid #999;font-weight:bold;text-align:left;}
th,td{padding:10px;border-right:1px solid #B9B9B9;}
th:last-child,td:last-child{border-right:none;}
table caption{background-color:#CCC;text-align:left;padding:10px 6px 20px 6px;border-bottom:1px solid #999;border-top:1px solid #0061A6;}
tfoot tr{background-color:F5F5F5;border-top:1px dotted #999;font-size:11px;line-height:14px;}
table.condensed th,table.condensed td{padding-top:5px;padding-bottom:5px;}
dt{font-weight:bold;}
menu,ol,ul{padding:0;margin-left:25px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
ol.unstyled,ul.unstyled{margin-left:0;list-style:none;}
 a:focus+.dropdown,.dropdown:focus{display:block;}
.dropdown.align-right{left:auto;right:-1px;}
li:first-child .dropdown.left-align{left:0;}
li:last-child .dropdown.align-right{right:0;}
@media screen and (max-width:600px){.topbar ul{float:none;border:none;} .topbar li{float:none;border:none;border-bottom:1px solid #c6c6c6;}} 